@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #0f0e17;
    font-family: 'Raleway', sans-serif;
}

#game-log {
    display: none;
}

.game-head {
    text-align: center;
    font-size: 3rem;
    color: #fffffe;
    font-weight: 900;
    margin: 1rem;
}

.score-box {
    height: 100px;
    width: 200px;
    background: transparent;
    position: relative;
    margin: auto;
    margin-top: 1rem;
    display: grid;
    grid-template-columns: 1fr 0.5fr 1fr;
    grid-gap: 0px;
    color: #fffffe;
}


.score-dvd {
    height: 100px;
    line-height: 120px;
    font-size: 3rem;
    font-weight: 900;
}

.score-head {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 500;
}

.score-main {
    text-align: center;
    font-size: 3rem;
    font-weight: 600;
}

.game-status {
    text-align: center;
    background-color: transparent;
    margin-top: 0px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    color: #fffffe;
    font-size: 1.5rem;
    font-weight: 500;
    height: 50px;
}

.disabled {
    pointer-events: none;
    opacity: 0.5;
}

.game-container {
    height: 300px;
    width: 300px;
    position: relative;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 5px;
    background: #fffffe;
}

.game-box {
    background: #0f0e17;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4rem;
    font-weight: 700;
    text-transform: uppercase;
    color: #0f0e17;
    transition: 0.7s ease-in-out;
}

.restart-btn {
    height: 40px;
    width: 150px;
    background: #a7a9be;
    position: relative;
    margin: auto;
    margin-top: 10px;
    line-height: 40px;
    text-align: center;
    color: #0f0e17;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: 600;
}

.win-cross {
    height: 10px;
    width: 250px;
    background: transparent;
    position: absolute;
    border-radius: 100px;
    overflow: hidden;
    left: -100%;
    top: -100%;
    opacity: 0;
}

.cross-in {
    height: 20px;
    width: 0%;
    background: #fffffe;
    position: absolute;
    left: 0%;
    top: 0%;
    transition: 0.7s ease-in-out;
}

